{% extends "layout/base.html" %}
{% block meta %}
<meta http-equiv="refresh" content="30">
{% endblock %}

{% block content %}
    <div class="container">
    
    
        <div id=sysInfo>
         {% set uptime = hsutil.getUptime() %}
         <h3>System uptime:</h3>   
         <p>Time elapsed:{{ uptime }} </p>
        
        </div>
        <div id=prociInfo>
            <h3>Processor info:</h3>
            <p>Num Processor: {{psuvar.cpu_count()}}</p>
            <p>Perc: {{psuvar.cpu_percent(interval=None)}} %</p>
            {% set freq = psuvar.cpu_freq(percpu=False) %}
            <p>Current:{{ freq.current}} MHz Min :{{ freq.min}} MHz  Max :{{ freq.max}} MHz    </p>
            <h3>Memory info:</h1>
            {% set mem = psuvar.virtual_memory() %}
            <p>Total: {{mem.total | filesizeformat(True)}} | Available: {{mem.available | filesizeformat(True)}} | Free : {{mem.free | filesizeformat(True)}} |
               Percent: {{mem.percent}} % | Shared: {{mem.shared | filesizeformat(True)}} | Cached: {{mem.cached | filesizeformat(True)}} 
            </p>
        </div>
        <div id=diskInfo>
            <h3>Disk info:</h3>
            {% set disks= psuvar.disk_partitions() %}
            <table class="table table-hover">
             <thead>
                <tr>
                   <th>Device</th>
                   <th>Mount point</th>
                   <th>FS Type</th>
                   <th>Total space</th>
                   <th>Used space</th>
                   <th>Free space</th>
                   <th>Percentage</th>             
                </tr>
             </thead>
                        
             <tbody>
             {% for disk in disks %}
             <tr>
                      <td>{{ disk.device }}</td>
                      <td>{{ disk.mountpoint}}</td>
                      <td>{{ disk.fstype }}</td>
                      <td> {{psuvar.disk_usage(disk.mountpoint).total | filesizeformat(True)}} </td>
                      <td> {{psuvar.disk_usage(disk.mountpoint).used | filesizeformat(True)}}</td>
                      <td> {{psuvar.disk_usage(disk.mountpoint).free | filesizeformat(True)}}</td>
                      <td> {{psuvar.disk_usage(disk.mountpoint).percent}}</td>              
             </tr>
             {% endfor %}        
                     
             </tbody>
            </table>
        </div>
        <div id=netInfo>
            <h3>Network info:</h3>
            {% set nics = psuvar.net_io_counters(pernic=True) %}
            {% set ssid = hsutil.getSSID() %}
            <h5> SSID: {{ssid['ssid']}}  Link Quality: {{ssid['Link_Quality']}}</h5>
            <table class="table table-hover">
             <thead>
                <tr>
                   <th>Device</th>
                   <th>bytes sent</th>
                   <th>bytes received</th>
                   <th>errors w receiving</th>
                   <th>err w sending</th>
                   <th>drop incomming packets</th>
                   <th>drop outgoing packets</th>                            
                </tr>
             </thead>
                        
             <tbody>
             {% for nic in nics %}
             <tr>
                 <td>{{nic}}</td>
                 <td> {{ nics[nic].bytes_sent | filesizeformat(True)}}</td>
                 <td> {{ nics[nic].bytes_recv | filesizeformat(True)}}</td>
                 <td> {{ nics[nic].errin}}</td>
                 <td> {{ nics[nic].errout}}</td>
                 <td> {{ nics[nic].dropin}}</td>
                 <td> {{ nics[nic].dropout}}</td>                 
             </tr>
             {% endfor %}        
                     
             </tbody>
            </table>
        </div>            
        <div id=conInfo>
            <h3>Connection info:</h3>
            {% set connections= psuvar.net_connections() %}
            <table class="table table-hover">
             <thead>
                <tr>
                   <th>Sck .File desc.</th>
                   <th>Address Family</th>
                   <th>Socket Type</th>
                   <th>Local Address</th>
                   <th>Remote Address</th>
                   <th>Status</th>
                   <th>pid</th>               
                </tr>
             </thead>
                        
             <tbody>
             {% for conn in connections %}
             <tr>
                 <td> {{conn.fd}}</td>
                 <td> {{conn.family | replace ('AddressFamily.','')}}</td>
                 <td> {{conn.type | replace ('SocketType.','')}}</td>
                 <td> {{conn.laddr.ip}} : {{conn.laddr.port}}  </td>
                 <td> {{conn.raddr.ip}} : {{conn.raddr.port}}</td>
                 <td> {{conn.status}}</td>
                 <td> {{conn.pid}}</td>     
             </tr>
             {% endfor %}        
                     
             </tbody>
            </table>   
        </div>
 </div>
{% endblock %}
 