{% extends "layout/base.html" %}

{% block meta %}


<head>

    
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   
   
</head>


{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}"> 
{% endblock %}


{% block content %} 
	
	<div class="container">
    
        <div class="col-xs-12 col-sm-6 col-md-2"  >
		    <div id="chart_temp1_div" style=" height: 130px;text-align:center;"></div>
                <div class="sensorbox">
                <p class="dashleft" id="temperature_sensor1value"> {{temperature_sensor1.value}}</p><p class="dashcenter"> ºC</p> 
                <p class="dashleft" id ="sensor1type">Sens: {{temperature_sensor1.sensorType }}</p>
                <p class="dashleft"> Min: {{TempLog.get_min_value(temperature_sensor1.sensorType).value }}ºC 
                                     Max: {{TempLog.get_max_value(temperature_sensor1.sensorType).value }}ºC </p>
                <p class="dashleft" >{{temperature_sensor1.sensorLocation }} </p> <p class="dashcenter"> @ {{temperature_sensor1.rdate.strftime('%H:%M')}}</p>
                <p id="temperature_sensor1updated" class='hidden' >{{temperature_sensor1.rdate}}</p>
            </div>
                   
                
        </div> 
	    
        <div class="col-xs-12 col-sm-6 col-md-2"  >
		    <div id="chart_temp2_div" style=" height: 130px;text-align:center;"></div>
                <div class="sensorbox">
                <p class="dashleft" id="temperature_sensor2value">{{temperature_sensor2.value}}</p><p class="dashcenter"> ºC</p> 
                <p class="dashleft" id ="sensor2type">Sens: {{temperature_sensor2.sensorType }}</p>
                <p class="dashleft"> Min: {{TempLog.get_min_value(temperature_sensor2.sensorType).value }}ºC 
                                     Max: {{TempLog.get_max_value(temperature_sensor2.sensorType).value }}ºC </p>
                <p class="dashleft" >{{temperature_sensor2.sensorLocation }} </p> <p class="dashcenter"> @ {{temperature_sensor2.rdate.strftime('%H:%M')}}</p>
                <p id="temperature_sensor1updated" class='hidden' >{{temperature_sensor2.rdate}}</p>
            </div>
                   
                
        </div> 
        
        <div class="col-xs-12 col-sm-6 col-md-2"  >
            <div id="chart_temp3_div" style=" height: 130px; text-align:center;"></div>
            <div class="sensorbox">
                <p class="dashleft" id="temperature_sensor3value"> {{temperature_sensor3.value}}</p><p class="dashcenter"> ºC</p> 
                <p class="dashright" id ="sensor3type">Sens: {{temperature_sensor3.sensorType }}</p>
                <p class="dashleft"> Min: {{TempLog.get_min_value(temperature_sensor3.sensorType).value }}ºC 
                                     Max: {{TempLog.get_max_value(temperature_sensor3.sensorType).value }}ºC </p>
                <p class="dashleft" >{{temperature_sensor3.sensorLocation }}@{{temperature_sensor3.rdate.strftime('%H:%M')}}</p>
                <p id="temperature_sensor3updated" class='hidden' >{{temperature_sensor3.rdate}}</p>
    
            </div>   


        </div>     
        
        <div class="col-xs-12 col-sm-6 col-md-2"  >
		    <div id="chart_humidity1_div" style=" height: 130px;text-align:center;"></div>
            <div class="sensorbox">
                <p class="dashleft" id="humidity_sensor1value"> {{humidity_sensor1.value}}</p><p class="dashcenter"> %</p> 
                <p class="dashleft" id ="sensor1type">Sens: {{humidity_sensor1.sensorType }}</p>
                <p class="dashleft"> Min: {{HumidityLog.get_min_value(humidity_sensor1.sensorType).value }} % 
                                     Max: {{HumidityLog.get_max_value(humidity_sensor1.sensorType).value }} % </p>
                <p class="dashleft" >{{humidity_sensor1.sensorLocation }} @ {{humidity_sensor1.rdate.strftime('%H:%M')}}</p>
                <p id="humidity_sensor1updated" class='hidden' >{{humidity_sensor1.rdate}}</p>
            </div>
                          
        </div> 
	    
           	  
        <div class="col-xs-12 col-sm-6 col-md-2" >
		    <div id="chart_humidity2_div" style=" height: 130px; text-align:center;" ></div>
            <div class="sensorbox">
                    <p class="dashleft" id="humidity_sensor2value"> {{humidity_sensor2.value}}</p><p class="dashcenter"> %</p> 
                    <p class="dashleft" id ="sensor1type">Sens: {{humidity_sensor2.sensorType }}</p>
                    <p class="dashleft"> Min: {{ HumidityLog.get_min_value(humidity_sensor2.sensorType).value }} %   
                                     Max: {{HumidityLog.get_max_value(humidity_sensor2.sensorType).value }} % </p>
                    <p class="dashleft" >{{humidity_sensor2.sensorLocation}} @ {{humidity_sensor2.rdate.strftime('%H:%M')}}</p>
                    <p id="humidity_sensor2updated" class='hidden' >{{humidity_sensor2.rdate}}</p>
            </div>
                 
	    </div>
        
        <div class="col-xs-12 col-sm-6 col-md-2" >
		    <div id="chart_pressure_div" style=" height: 130px; text-align:center;" ></div>
            <div class="sensorbox">
                    <p class="dashleft" id="pressure_sensor1value"> {{pressure_sensor1.value}}</p><p class="dashcenter"> Pa</p> 
                    <p class="dashleft" id ="sensor1type">Sens: {{pressure_sensor1.sensorType }}</p>
                    <p class="dashleft"> Min: {{  PressureLog.get_min_value(pressure_sensor1.sensorType).value }} Pa   
                                     Max: {{PressureLog.get_max_value(pressure_sensor1.sensorType).value }} Pa </p>
                    <p class="dashleft" >{{pressure_sensor1.sensorLocation}} @ {{pressure_sensor1.rdate.strftime('%H:%M')}}</p>
                    <p id="pressure_sensor1updated" class='hidden' >{{pressure_sensor1.rdate}}</p>
            </div>
                 
	    </div>
        
        <div class="col-xs-12 col-sm-6 col-md-2" >
		    <div id="chart_power_div" style=" height: 130px; text-align:center;" ></div>
            <div class="sensorbox">
                    <p class="dashleft" id="power_sensor1value"> {{power_sensor1.voltage *1000}}</p><p class="dashcenter"> mV</p> 
                    <p class="dashleft" id ="sensor1type">Sens: {{power_sensor1.sensorType }}</p>
                    <p class="dashleft"> Min: {{  PowerLog.get_min_value(power_sensor1.sensorType).voltage }} V   
                                     Max: {{PowerLog.get_max_value(power_sensor1.sensorType).voltage }} V </p>
                    <p class="dashleft" >{{power_sensor1.sensorLocation}} @ {{power_sensor1.rdate.strftime('%H:%M')}}</p>
                    <p id="power_sensor1updated" class='hidden' >{{power_sensor1.rdate}}</p>
            </div>
                 
	    </div>
        
      
    </div>


    <div >
            <p id="info_update_sucess">... </p>       
            <p id="info_update_error">...</p> 
        
    </div>    
{% endblock %}
{% block scripts %}
    {{super() }}
    <script src="{{ url_for('static', filename='js/hswebapp_dashboard.js') }}"></script>
{% endblock %}

