{% extends "layout/base.html" %}

{% block meta %}
<meta http-equiv="refresh" content="60">

<head>
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
   
	  google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChartTempCurve);
      
      function drawChartTempCurve() {
        var data = new google.visualization.DataTable();
		data.addColumn('datetime', 'Time');    
        data.addColumn('number', 'sensor1 ºC');
       // data.addColumn('number', 'sensor2 ºC');
       // data.addColumn('number', 'sensor3 ºC');   
      
          
      
      
      data.addRows([
          {% for rtemp in temp %}
		   {% if rtemp.sensorType == 'AM2302' %}
           
           
           
           
            [new Date({{rtemp.rdate.year}},{{rtemp.rdate.month}}-1,{{rtemp.rdate.day}},{{rtemp.rdate.hour}},{{rtemp.rdate.minute}})
            ,{{'%0.2f'|format(rtemp.value)}}                ],
			{% endif %}
          {% endfor %}
        ]);
        
		

        var options = {
          title: 'Temperature',
          curveType: 'function',
		  hAxis: {
          title: "Date",
          gridlines: { count: 10, color: '#FFFFFF' },
          format: 'dd-MM HH:mm' },
		  aggregationTarget: 'auto',
		  vAxis: {
          title: 'Degrees'
          
          },
		  
		  
          legend: { position: 'bottom' }

        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart_temperature'));

        chart.draw(data, options);
      }
	  google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChartHumCurve);

      function drawChartHumCurve() {
        var data = new google.visualization.DataTable();
		data.addColumn('datetime', 'Time');    
        data.addColumn('number', 'Humidity %');      
             
      
      data.addRows([
          {% for humlog in humididylog %}
		   {% if humlog.sensorType == 'AM2302' %}
            [new Date({{humlog.rdate.year}},{{humlog.rdate.month}}-1,{{humlog.rdate.day}},{{humlog.rdate.hour}},{{humlog.rdate.minute}})
            
            ,{{'%0.2f'|format(humlog.value)}}],
			{% endif %}
          {% endfor %}
        ]);
		

        var options = {
          title: 'Humidity readings',
          curveType: 'function',
		  hAxis: {
          title: "Date",
          gridlines: { count: 10, color: '#FFFFFF' },
          format: 'dd-MM HH:mm' },
		  
		  vAxis: {
          title: 'Percentage'
          },
		  
		  
          legend: { position: 'bottom' }

        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart_humidity'));

        chart.draw(data, options);
      }
	  
      
	  google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChartPressureCurve);

      function drawChartPressureCurve() {
        var data = new google.visualization.DataTable();
		data.addColumn('datetime', 'Time');    
        data.addColumn('number', 'Pressure hPa');      
             
      
      data.addRows([
          {% for presslog in pressurelog %}
		   
            [new Date({{presslog.rdate.year}},{{presslog.rdate.month}}-1,{{presslog.rdate.day}},{{presslog.rdate.hour}},{{presslog.rdate.minute}})
            
            ,{{'%0.2f'|format(presslog.value)}}],
			
          {% endfor %}
        ]);
		

        var options = {
          title: 'Pressure readings',
          curveType: 'function',
		  hAxis: {
          title: "Date",
          gridlines: { count: 10, color: '#FFFFFF' },
          format: 'dd-MM HH:mm' },
		  
		  vAxis: {
          title: 'Pressure'
          },
		  
		  
          legend: { position: 'bottom' }

        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart_pressure'));

        chart.draw(data, options);
      }
      
	  	  
    </script>
  </head>


{% endblock %}

{% block content %}
 	
    <div id="curve_chart_temperature" style="width: 1200px; height: 500px ; padding-top: 5px;"></div>
	<div id="status"><p>Nº Temp Readings: {{ntemp}}<p></div>
    <div id="curve_chart_humidity" style="width: 1200px; height: 500px ; padding-top: 5px;"></div>
    <div id="curve_chart_pressure" style="width: 1200px; height: 500px ; padding-top: 5px;"></div>
   


	
{% endblock %}