{% extends "layout/base.html" %}
{% block content %}
{% block title %}
{% endblock %}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Raspberry Project</h1>
        <h2>Sensors:</h1>
        
        
        <ol>
            <li>Temperature (DHT11/AM2302/BMP180</li>
            <li>Humidity    (DHT11/AM2302</li>
            <li>Pressure    (BMP180)</li>
            <li>Solar Power Panel  (6V/200mA)</li>
            <br>
        </ol>

        
        
      
      
      </div>
    </div>
{% endblock %}